.DS_Store
node_modules
package-lock.json

# Elastic Beanstalk CLI Files
.elasticbeanstalk/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
