packages:
  yum:
    jq: []

commands:
  01-install-xrayd:
    command: /tmp/install-xrayd.sh
    ignoreErrors: true

files:
  "/tmp/install-xrayd.sh" :
    mode: "000744"
    owner: root
    group: root
    content: |
      #!/bin/bash -x
      AWS_REGION=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.AWS_REGION')
      curl https://s3.dualstack.${AWS_REGION}.amazonaws.com/aws-xray-assets.${AWS_REGION}/xray-daemon/aws-xray-daemon-1.x.rpm -o /home/ec2-user/aws-xray-daemon-1.x.rpm
      yum remove -y xray
      yum install -y /home/ec2-user/aws-xray-daemon-1.x.rpm

  "/opt/elasticbeanstalk/tasks/taillogs.d/xray-daemon.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/xray/xray.log

  "/etc/amazon/xray/cfg.yaml" :
    mode: "000644"
    owner: root
    group: root
    content: |
      Logging:
        LogLevel: "info"